.address-container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
  background: #f6f6f6;
  min-height: 100vh;
}

.address-container h3 {
  margin-bottom: 16px;
}

/* INPUTS */
.address-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* SAVE BUTTON */
.address-container button {
  width: 100%;
  padding: 14px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
