.dress-details {
  padding: 16px;
  display: flex;              
  flex-direction: column;     
  align-items: center;        
}

.dress-details img {
  width: 300px;
  border-radius: 12px;
}


.sizes {
  margin-top: 16px;
}

.sizes button {
  margin: 6px;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
}

.sizes .active {
  border: 2px solid black;
}

.action-bar {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.wishlist {
  border: 1px solid #ccc;
  padding: 14px;
  border-radius: 50%;
  background: white;
}

.add-cart {
  flex: 1;
  background: black;
  color: white;
  padding: 14px;
  border-radius: 30px;
  font-weight: bold;
}

.related-title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-center;
}

.related-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  margin-top: 10px;
}

.related-products::-webkit-scrollbar {
  display: none;
}

.related-card {
  cursor: pointer;
}

.related-card img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 10px;
}

.related-card .name {
  font-size: 14px;
  margin-top: 6px;
}

.related-card .price {
  font-weight: bold;
  font-size: 14px;
}


@media (min-width: 768px) {
  .related-products {
    grid-template-columns: repeat(3, 1fr); 
  }
}