.dresses-container {
  padding: 20px;
}


.category-bar {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  margin-bottom: 20px;
}

.category-bar button {
  border: 1px solid #000;
  background: white;
  padding: 8px 14px;
  cursor: pointer;
  white-space: nowrap;
}

.category-bar .active {
  background: black;
  color: white;
}


.top-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.top-bar select,
.price-filter input {
  padding: 6px;
  border: 1px solid #ccc;
}

.price-filter {
  display: flex;
  gap: 6px;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* PRODUCT CARD */
.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* IMAGE WRAPPER */
.image-wrapper {
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-color: #f5f5f5;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.discount-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 600;
  z-index: 2;
}

/* PRODUCT NAME */
.product-card .name {
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.3;
}

.price {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 4px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.new-price {
  color: red;
  font-weight: 600;
  font-size: 16px;
}

.normal-price {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
