.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  min-height: 100vh;
  overflow: hidden;
}

/* Video */
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay layer */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);

}

/* Content */
.hero-overlay {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2;
  width: 100%;
  padding: 0 16px; /* prevents overflow */
}

.hero-title {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #fff;
}

/* Button */
.hero-btn {
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 10px 24px;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
}
.hero-btn:hover{
    background-color: white;
    color: black;
}

@media (max-width: 430px) {
  .hero {
    height: 100svh;
  }

  .hero-overlay {
    bottom: 10%;
  }

  .hero-title {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
  }

  .hero-btn {
    padding: 8px 20px;
    font-size: 0.75rem;
  }
}

@media(max-height:700px){
    .hero-overlay{
        bottom: 8%;
    }
}