.orders-container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
}

.order-card {
  background: #fff;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.08);
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.status {
  color: green;
  font-weight: 600;
}

.order-item {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.order-item img {
  width: 70px;
  border-radius: 8px;
}

.cancel-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  background: #fff;
  border: 1px solid red;
  color: red;
  border-radius: 6px;
  font-weight: 600;
}
.retrn-btn{
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  background: #fff;
  border: 1px solid red;
  color: red;
  border-radius: 6px;
  font-weight: 600;
}