.wishlist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  align-items: stretch;
  padding-top: 30px;
}

.wishlist-card {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  height: 100%;
}

.wishlist-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

/* INFO */
.wishlist-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TEXT */
.wishlist-info h4 {
  font-size: 14px;
  margin: 0;
}

/* PRICE */
.price {
  font-size: 14px;
  font-weight: bold;
  color: #080808;
  margin: 0;
}

/* DISCOUNT  */
.old-price {
  text-decoration: line-through !important;
  color: #999;
  margin-right: 6px;
  font-weight: normal;
}

.new-price {
  color: #080808;
  font-weight: bold;
}

.normal-price {
  color: #080808;
  font-weight: bold;
}

/* REMOVE BUTTON */
.wishlist-info button {
  margin-top: 6px;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.wishlist-card:hover {
  transform: translateY(-4px);
  transition: 0.2s ease;
}

.empty {
  text-align: center;
  margin-top: 40px;
}

/* IMAGE WRAPPER  */
.wishlist-image-wrapper {
  width: 100%;
  height: 300px; 
  overflow: hidden;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.wishlist-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 640px) {
  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
